<%- include("partials/header", {username:username, isLogin:isLogin}) -%>
<div class="manage">
  <form action="/manage" method="post">
  <input type="date" name="numericDate">
  <button type="submit" >+</button>
  </form>
</div>


<%- include("partials/footer") -%>
