

<%- include("partials/header", {username:username, isLogin:isLogin}) -%>


    <div class="container">
      <a href="/write"><button type="button" class="btn btn-primary btn-lg btn-block" >Write Diary</button></a>
    </div>
    <div class="container">
      <a href="/manage"><button type="button" class="btn btn-secondary btn-lg btn-block" >Manage Diary</button></a>
    </div>

<%- include("partials/footer") -%>
