

<%- include("partials/header") -%>

    <div class="container">
      <a href="/writting"><button type="button" class="btn btn-primary btn-lg btn-block" >Write Diary</button></a>
    </div>
    <div class="container">
      <button type="button" class="btn btn-secondary btn-lg btn-block" >Manage Diary</button>
    </div>

<%- include("partials/footer") -%>
