<%- include("partials/header") -%>
<div >
  <form action="/mamaging" method="post">


  <input type="date" name="date">
  <button type="submit" >+</button>
  </form>
</div>


<%- include("partials/footer") -%>
