<%- include("partials/header", {username:username, isLogin:isLogin}) -%>




<div class="container">
  <h1>Register</h1>

  <div class="row">


          <!-- Makes POST request to /login route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label >Username</label>
              <input  name="username">
            </div>
            <div class="form-group">
              <label >Password</label>
              <input type="password"  name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

    </div>

  </div>

  <%- include("partials/footer") -%>
